%%-*- mode: erlang -*-
{deps, [
  {webmachine, "1.10.*", {git, "https://github.com/webmachine/webmachine.git", {branch, "main"}}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", {branch, "master"}}}
]}.

{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.

{provider_hooks, [
                 {pre, [{compile, {erlydtl, compile}}]}
                 ]}.

{erlydtl_opts, [{doc_root, "templates"}]}.

{relx, [{release, {'webmachine_demo', "0.1.0"},
         ['webmachine_demo',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {dev, [
        {deps, [
            {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
